<!DOCTYPE html>
<html>
<head>
<style>
a:link{
    color: green;
    background-color:rgb(255, 99, 71);"
    text-decoration:underline;
}

a:hover{
    color:  ;
    background-color:rgb(9, 100%, 64%, ,5);"
    text-decoration:mark;

h1, h2, h3{
    text-align: center;
    text-color:hex(240090)
}

#para1, #para2, #para3, #para4, #para5{
       text-color:hex#35000D3
}

</head>

<body style="background-color:black



</body>
</html>
